<ion-view ng-class="tripgj.background" translate-namespace="diary">
  <ion-nav-title>
    <div class="col" text-align="center">
      Your trip on {{formattedCurrDate}}
    </div>
  </ion-nav-title>
  <ion-content [fullscreen]="true">
    <ion-list>
      <h1 style="font-size: 1.4em; padding: 0.2em;">
        Segment Details
      </h1>
      <ion-item>
        <span style="font-weight: bold">
          Segment Start:
        </span>
        {{startPlace}}
        <br>
        <span style="font-weight: bold">
          at
        </span>
        {{startTime}}
      </ion-item>
      <ion-item>
        <span style="font-weight: bold">
          Segment End:
        </span>
        {{endPlace}}
        <br>
        <span style="font-weight: bold">
          at
        </span>
        {{endTime}}
      </ion-item>
      <ion-item>
        <span style="font-weight: bold">
          Detected mode:
        </span>
         {{sensed_mode}}
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-radio-group [(ngModel)]="selectedMode">
        <h1 style="font-size: 1.4em; padding: 0.2em;">
          How did you travel between the start and end point?
        </h1>
        <span ng-repeat="mode in inputParamsSegment.MODE.options">
          <ion-radio ng-click="chooseSegment('MODE')" ng-model="selectedSegment.MODE.value" ng-value="mode.value">{{mode.text}}</ion-radio>
        </span>
      </ion-radio-group>
      <div ng-if="tripgj.sections[segment_index].properties.userInput.MODE" class="mode-confirm-container">
        <button ng-click ="openPopoverSegment($event, segment_index, 'MODE')" class="button btn-mode-confirm btn-mode-confirm-green">
          {{tripgj.sections[segment_index].properties.userInput.MODE.text}}
        </button>
      </div>
      <div  ng-if="!tripgj.sections[segment_index].properties.userInput.MODE" class="mode-confirm-container">
        <button ng-click ="openPopoverSegment($event, segment_index, 'MODE')" class="button btn-mode-confirm btn-mode-confirm-white" translate>
          {{'.choose-mode'}}
        </button>
      </div>
    </ion-list>
    <div class="row" style="margin-bottom: 15px; display: flex; justify-content: center;">
      <button ng-click="toDetail()"
              style="background-color: #565656; color: #FFFFFF; text-align: center; border: none; padding: 10px 10px; margin-right: 1px;">
        BACK TO TRIP REVIEW
      </button>
      <button ng-click="toDiary()"
              style="background-color: #565656; color: #FFFFFF; text-align: center; border: none; padding: 10px 10px; margin-left: 1px;">
        BACK TO TRIP DIARY
      </button>
    </div>
  </ion-content>
</ion-view>
