<ion-view ng-class="tripgj.background" translate-namespace="diary">
    <ion-nav-title>
      <div class="col" text-align="center">
        Your trip on {{formattedTripDate}}
      </div>
    </ion-nav-title>
    <ion-nav-buttons side="right">
         <button class="button button-icon ion-help" ng-click="startWalkthrough()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" ng-class="tripgj.background" overflow-scroll="true" padding="true">
      <h1 id="tripDetailsHeader"
          style="font-size: 1.5em; color: #000000; font-weight: bold; padding: 5px; background-color: #E8E8E8">
        Trip Details
      </h1>
        <div class="col" style="background-color: #ffffff; padding: 5px !important; font-size: 1.1em">

          <div class="row" id="trip-start-info" style="margin-bottom: 10px;">
            <i class="icon ion-ios-location" style="padding: 10px; font-size: 20px; color: #33e0bb;" aria-hidden="true"></i>
            <p style="padding-right: 5px;">
              <span style="margin-right: 2px; font-weight: bold;">Trip Start:</span>
              {{tripgj.start_place.properties.display_name.split(',')[0]}}
              <span style="margin: 0 2px; font-weight: bold;">at</span>
              {{tripgj.display_start_time}}
            </p>
          </div>

          <div class="row" id="trip-end-info">
            <i class="icon ion-ios-location" style="padding: 10px; font-size: 20px; color: #ff5251; margin-bottom: 10px;" aria-hidden="true"></i>
            <p style="padding-right: 5px;">
              <span style="margin-right: 2px; font-weight: bold;">Trip End:</span>
              {{tripgj.end_place.properties.display_name.split(',')[0]}}
              <span style="margin: 0 2px; font-weight: bold;">at</span>
              {{tripgj.display_end_time}}
            </p>
          </div>

          <div class="row" style="">
            <div class="col" style="width: 30%; margin-top: 0; font-size: 1.1em;">
              <p style="font-size: 1.1em; margin-bottom: 0;">
                <span style="font-weight: bold;">
                  Total Distance
                </span>
                <br>
                {{tripgj.display_distance}} km ({{tripgj.display_distance_miles}} mi)
              </p>
            </div>
            <div class="col" style="width: 30%; margin-top: 0; font-size: 1.1em;">
              <p style="font-size: 1.1em; margin-bottom: 0;">
                <span style="font-weight: bold;">
                  Total Time
                </span>
                <br>
                {{tripgj.display_time}}
              </p>
            </div>
<!--            <div id="sectionPct" class="col" aria-hidden="true">-->
<!--              <i class="{{sectionPct.icon}}" ng-repeat="sectionPct in tripgj.percentages" style="margin-left: 10px; margin-right: 10px; font-size: 15px;" ng-style="{{sectionPct.color}}"></i>-->
<!--              <br>-->
<!--              <a ng-repeat="sectionPct in tripgj.percentages" style="font-size: 10px; margin-left: 10px; margin-right: 10px;">{{sectionPct.pct}}%</a>-->
<!--            </div>-->
          </div>

        </div>

        <div style="height: 10px;"></div>


        <leaflet geojson="tripgj" id="detail" defaults="mapCtrl.defaults"
                 height="50%" width="100%" data-tap-disabled="true" aria-hidden="true">
        </leaflet>
        <div style="height: 20px;"></div>
        <!-- This is the section for the list of trip segments. -->
        <h2 id="tripSegmentHeader"
            style="font-size: 1.5em; color: #000000; font-weight: bold; padding: 5px; background-color: #E8E8E8">
          Trip Segments
        </h2>
         <div id="sectionList" class="col" aria-labelledby="tripSegmentHeader">


           <div class="col" ng-repeat="sectionFmt in formattedSectionProperties"
                style="padding: 5px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #000000;
                background-color: #eeeeee;">
             <div class="row" style="font-size: 15px; margin-left:10px; margin-bottom: 10px;">
               <p style="padding-right: 5px;">
                 <span style="margin-right: 5px; font-weight: bold;">Departed from: </span>
                 {{sectionFmt.fmt_start_place}}
                 <span style="margin-left: 2px; margin-right: 2px; font-weight: bold;"> at </span>
                 {{sectionFmt.fmt_time}}
               </p>
             </div>
             <div class="row" style="font-size: 15px; margin-left:10px; margin-bottom: 10px;">
               <p style="padding-right: 5px;">
                 <span style="margin-right: 5px; font-weight: bold;">Arrived at: </span>
                 {{sectionFmt.fmt_end_place}}
                 <span style="margin-left: 2px; margin-right: 2px; font-weight: bold;"> at </span>
                 {{sectionFmt.fmt_end_time}}
               </p>
             </div>

             <div class="row" style="font-size: 15px; margin-left:10px; margin-bottom: 10px;">
               <p style="padding-right: 5px;">
                 <span style="margin-right: 10px; font-weight: bold;">Distance: </span>
                 {{sectionFmt.fmt_distance}} km
                 ({{sectionFmt.fmt_distance_miles}} mi)
               </p>
             </div>
             <div class="row" style="font-size: 15px; margin-left:10px; margin-bottom: 10px;">
               <p style="padding-right: 5px;">
                 <span style="margin-right: 10px; font-weight: bold;">Mode of transportation: </span>
                  {{sectionFmt.sensed_mode}}
               </p>
<!--               <i class="{{sectionFmt.icon}}" , style="font-size: 25px; margin-left: 10px;"-->
<!--                  ng-style="{{sectionFmt.colorStyle}}" aria-hidden="true"></i>-->
             </div>
             <button
               style="background-color: #565656; color: #FFFFFF; text-align: center; border: none; padding: 10px 25px;
               margin-bottom: 15px; display: block; margin-left: auto; margin-right: auto;"
               ng-click="toChangeMode(sectionFmt)">
               MODIFY MODE OF TRANSPORTATION
             </button>
           </div>

          </div>

      <!--<button
        style="display: block;margin-left: auto;margin-right: auto;width: 80%;color: #fff;font-weight: 600;border: 0px;background-color: #01D0A7;"
        class="button"
        ng-click="toChangeMode(tripgj.data.id)">
        Change mode
      </button>-->

<!--        <div id="chart" aria-hidden="true">-->
<!--          <svg></svg>-->
<!--        </div>-->
        <div style="" class="button-bar">
            <button class="button button-stable button-block icon ion-refresh"
                ng-click="refreshMap()" translate>{{'map-refresh'}}</button>
            <button class="button button-stable button-block"
                ng-click="refreshTiles()" translate>{{'map-fixmap'}}</button>
            <!--
            <button style="" class="button button-stable button-block  icon ion-checkmark">Valid</button>
            -->
        </div>
    </ion-content>
</ion-view>
