{
  "MODE" : [
       {"text":"Walk", "value":"walk"},
       {"text":"Wheelchair", "value":"wheelchair"},
       {"text":"Automobile","value":"automobile"},
       {"text":"Bike","value":"bike"},
       {"text":"Train","value":"train"},
       {"text":"Other","value":"other"}],
    "PURPOSE" : [
       {"text":"Home", "value":"home"},
       {"text":"Work","value":"work"},
       {"text":"School","value":"school"},
       {"text":"Transit transfer", "value":"transit_transfer"},
       {"text":"Shopping","value":"shopping"},
       {"text":"Meal","value":"meal"},
       {"text":"Pick-up/Drop off","value":"pick_drop"},
       {"text":"Personal/Medical","value":"personal_med"},
       {"text":"Recreation/Exercise","value":"exercise"},
       {"text":"Entertainment/Social","value":"entertainment"},
       {"text":"Religious", "value":"religious"},
       {"text":"Other","value":"other"}]
}
